*{
    box-sizing: border-box;
}

#canvas{
    border: 5px solid black;
    max-width : 1000px;
}

.draw-square{
    border: 1px solid black;
    display: flex;
    flex: 1;
}

.row{
    display: flex;
    max-width: 100%;

}


